@import url("https://use.fontawesome.com/releases/v5.15.2/css/all.css");
li {
    display: inline-block;
    font-size: 30px;
    border-radius: 50%;
    border-color: rgb(240, 240, 240);
    background-color: rgb(240, 240, 240);
    border-style: solid;
    margin-top: 30px;
    margin-right: 15px;
}

i {
    padding: 12px;
}

a {
    text-decoration: none;
    color: black;
}

.fa-facebook-square:hover {
    color: rgb(66, 103, 178);
}

.fa-twitter:hover {
    color: rgb(29, 161, 242);
}

.fa-google-plus:hover {
    color: #db4a39;
}

.fa-linkedin:hover {
    color: #2867B2;
}

.fa-instagram:hover {
    color: #C13584
}