html {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}

html,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    box-sizing: inherit;
}

div,
section {
    display: flex;
}

.container {
    max-width: 65vw;
    margin: 60px auto;
}

span {
    border: 1px;
    border-style: solid;
    padding: 30px;
    flex-grow: 1;
    text-align: center;
}

.notes {
    flex-direction: column;
}

.week {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-basis: 50vw;
    flex-direction: row;
    flex-wrap: wrap;
}

.workweek,
.weekend {
    flex-basis: 100%;
    font-size: 1.5rem;
    text-align: center;
}

.day {
    height: 100px;
}

.notes span:nth-child(2) {
    padding-top: 96px;
}